* {
    margin: 0px;
    padding: 0px;
}

body{
    position: relative;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: beige;
}

main {
    padding: 60px 0;
  }

  header {
    height: 50px;
    width: 100%;
    background-color: rgb(172, 185, 243);
    line-height: 60px;
    position: fixed;
}

footer {
    height: 50px;
    width: 100%;
    background-color: rgb(172, 185, 243);
    line-height: 60px;
}

li {
    display: inline;
    padding: 0px 20px;
}
.text-right{
    text-align: right;
}

.text-center {
    text-align: center;
}

img {
    display: block;
    margin: 10px auto;
  }

figcaption {
    margin: 10px;
}  
 
  .contact {
    margin: 0px auto;
    width: 50%;
    border: 5px solid rgb(113, 157, 184);
  }

  #form1 {
    padding: 10px;
  }